<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1y2OQjY3_bLLiLb4FaN4w9BSV13xK61zGuKoZzQg4&s" alt="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi error nesciunt illum. Excepturi debitis quis ea amet laudantium aliquid consequuntur nostrum iste, rem iure molestiae blanditiis provident vel fugiat quos.
      </a>
    </p>
  </div>
</div>
